*{
    margin: 0;
    padding: 0;
}

.header{
    border-bottom: 1px solid #ddd;
}

.item{
    padding: 15px 0 15px 5px;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: 500;
    line-height: 1.4em;
}

.item:hover{
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

p{
    margin: 5px;
}